Django==2.2.8
psycopg2==2.8.0
djangorestframework==3.9.4
markdown==3.1.1
django-filter==2.1.0
django-cors-headers==3.0.2
python-slugify==3.0.2
django-rest-swagger==2.2.0
GitPython==2.1.13
celery==4.3.0
git+git://github.com/mskcc/toil@3.21.0#egg=toil
cwltool==1.0.20191206125148
schema_salad===4.5.20191017101802
psycopg2-binary
