Django==2.2.13
psycopg2==2.7.4
djangorestframework==3.9.4
markdown==3.1.1
django-filter==2.1.0
django-cors-headers==3.0.2
python-slugify==3.0.2
django-rest-swagger==2.2.0
GitPython==3.0.8
celery==4.3.0
cwltool==2.0.20200122124526
schema-salad==5.0.20200122085940
psycopg2-binary==2.8.4
